.DS_Store
*.swp
*.pyc
/dist/
/src/
/libchromiumcontent.tar.bz2
/libchromiumcontent-static.tar.bz2
/vendor/binutils-aarch64
/vendor/cross-gcc-4.9.3-n64-loongson-rc5.4
.gclient
.gclient_entries
_gclient_src_*
s3credentials
/native-mksnapshot.tar.bz2
