[submodule "vendor/depot_tools"]
	path = vendor/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "vendor/ninja"]
	path = vendor/ninja
	url = https://github.com/martine/ninja
