[submodule "vendor/python-patch"]
	path = vendor/python-patch
	url = https://github.com/svn2github/python-patch
[submodule "vendor/depot_tools"]
	path = vendor/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "vendor/boto"]
	path = vendor/boto
	url = https://github.com/boto/boto
